h1{
    background-color: #8844ee;
    color: #000000;
}

a{
    background-color: #84e;
    color: #fff;
}

/* Seleciona h1 e p */
h1,
p{
    color: blue;
}

/*Seleciona dentro de p*/
p a{
    color: green;
}

.codigo{
    color: blue;
}

.design{
    color: red;
}

.underline{
    text-decoration: underline;
}

.a1{
    color: rgba(0, 0, 0, 0.8);
}

.a2{
    color: rgba(0, 0, 0, 0.6);
}

.a3{
    color: rgba(0, 0, 0, 0.4);
}

.design{
    color: rgba(255, 0, 0, 1);
}